@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,body{
    min-height: 100vh;
}
:root{
    --blue:#21a1f1;
}

body {
    
    background: linear-gradient(38.32deg, #750492 -3.2%, #454444 101.33%),
    linear-gradient(157.84deg, rgba(51, 71, 255, 0.02) 4.59%, rgba(117, 4, 146, 0.14) 45.8%),
    linear-gradient(156.07deg, rgba(0, 0, 0, 0) 49.83%, rgba(0, 0, 0, 0.5) 92.21%),
    linear-gradient(141.59deg, rgba(0, 0, 0, 0) 30.18%, rgba(167, 197, 255, 0.06) 55.21%),
    linear-gradient(84.63deg, rgba(188, 130, 223, 0) -12.28%, rgba(0, 0, 0, 0.06) 74.46%),
    linear-gradient(138.59deg, rgba(0, 0, 0, 0.2) 68.02%, rgba(0, 0, 0, 0.2) 74.79%),
    linear-gradient(44.7deg, rgba(0, 163, 255, 0) 39.05%, rgba(189, 0, 255, 0.2) 107.15%);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.container{
    padding: 20px 100px;
    width: 87vw;
    margin:0 auto;
    max-width: 1920px;
}

header {
    padding: 20px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(38.32deg, #750492 -3.2%, #454444 101.33%),
    linear-gradient(157.84deg, rgba(51, 71, 255, 0.02) 4.59%, rgba(117, 4, 146, 0.14) 45.8%),
    linear-gradient(156.07deg, rgba(0, 0, 0, 0) 49.83%, rgba(0, 0, 0, 0.5) 92.21%),
    linear-gradient(141.59deg, rgba(0, 0, 0, 0) 30.18%, rgba(167, 197, 255, 0.06) 55.21%),
    linear-gradient(84.63deg, rgba(188, 130, 223, 0) -12.28%, rgba(0, 0, 0, 0.06) 74.46%),
    linear-gradient(138.59deg, rgba(0, 0, 0, 0.2) 68.02%, rgba(0, 0, 0, 0.2) 74.79%),
    linear-gradient(44.7deg, rgba(0, 163, 255, 0) 39.05%, rgba(189, 0, 255, 0.2) 107.15%);
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(0, 0, 0, 0.5);
}
body {
    font-family: Arial, sans-serif;
}

.slider-container {
    width: 100%;
    position: relative;
}

.slider-value {
    position: absolute;
    top: -30px;
    left: 0;
    font-weight: bold;
    color: white;
    transform: translateX(-50%);
}

#price-text{
    margin-bottom:15px;
}
input[type="checkbox"] {
    -webkit-appearance: none; 
    -moz-appearance: none;   
    appearance: none;
    background-color: transparent; 
    border: none;          
    padding: 0;                
    margin: 0;
    outline: none;             
    cursor: pointer;
  }
  
  input[type="checkbox"] {
    width:25px;
    height: 25px;
    color:black;
    background-color: #e0e0e0;
    border:3px solid var(--blue);
    border-radius: 6px;
    display: inline-block;
    position: relative;
  }

  
  input[type="checkbox"]:checked {
    background-color: var(--blue); 
  }
  
  input[type="checkbox"]:checked::before {
    content: "✓";
    color: white;
    font-size: 16px;
    position: absolute;
    left: 4px;
    top: -2px;
    display: inline-block;
  }
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
  }
  
  input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
  }
  
  input[type="range"]::-moz-range-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid var(--blue);
    box-shadow: -407px 0 0 400px var(--blue);
  }
  
  
  input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid var(--blue);
    box-shadow: -407px 0 0 400px var(--blue);
  }
  
  body {
    font-family: system-ui;
  }
  
  h1 {
    color: #4b4949; 
    text-align: center;
  }
  
  .wrapper {
    color: #4b4949; 
    background: #f50;
    max-width: 400px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .range {
    display: flex;
    align-items: center;
    max-width: 500px;
    height: 4rem;
    width: 80%;
    background: #fff;
    padding: 0px 10px;
  }
  
  .menu-btn {
    font-size: 70px;
    cursor: pointer;
    color:white;
}

.sidebar {
    
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    display: block;
}

.sidebar ul li {
    padding: 15px;

}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 249px;
    width: 100%;
    height: 100%;
}
.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

main{
    display:flex;
    justify-content: space-between;
    gap:50px;
    margin-top: 50px;
}
aside{
    display:flex;
    flex-direction: column;
    gap:40px;
}
p{
    font-weight: bold;
    font-size:14px;
    font-style: italic;
}
h2{
    font-style: italic;
    font-weight: 600;
    font-size: 1.1em;
}

.block-aside{
    color:white;
    display:flex;
    flex-direction: column;
    gap:20px;
}
.block-aside > ul{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.block-aside > ul>li{
    display:flex;
    align-items: center;
}
aside>div>ul>li{
    display:flex;
    gap:5px;
}
.search{
    display:flex;
    gap:15px;
    height:50px;
    
}

.search>div{
    display:flex;
    align-items: center;
    gap:7px;
    padding:5px;
    border-radius: 16px;
    border:4px solid var(--blue);
    background-color: white;
    width:75%;
}
.search>div>img{
    height:25px;
}
.search>div>input{
    border:none;
    height:100%;
    width:100%;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}
.search>div>input::placeholder{
    color: #0a5b79;
    font-weight: 800;
}
.search>button{
    color:white;
    border-radius: 20px;
    border:none;
    padding:12px 20px;
    background-color: #21a1f1;
    background: linear-gradient(90deg, #00C2FF -16.68%, #00546F 100%);
}
.block-courses{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.block-courses>div{
    padding:20px;
    padding-left:30px;
    border-radius: 20px;
    background-color: #21a1f1;
    background: linear-gradient(90deg, #00C2FF -16.68%, #00546F 100%);
    color:white;


}
.input-checkbox{
    cursor: pointer;
}
.main-section{
    display:flex;
    flex-direction: column;
    gap:60px;
    width:75%
}

.img-search {
    margin-left: 7px;
    margin-right: 7px;
}

.search-input {
    outline: none !important;
}

.btn {
    font-weight: 800;
    
}
.btn:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #008ab4 -16.68%, #003547 100%);
}
div.menu-btn > div > div {
    width: 30px;
    height: 3px;
    background-color: white;
}
div.menu-btn > div{
    display:flex;
    flex-direction: column;
    gap:5px;
}

.link {
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-style: italic !important;
}

a.link {
    font-weight: 600;
    font-style: normal;
}

div.header__logo > a > img {
    margin-left: 80px;
}

.block-courses > div:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #008ab4 -16.68%, #003547 100%);
}